blinker==1.9.0
click==8.4.1
Flask==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
MarkupSafe==3.0.3
narwhals==2.22.0
nltk==3.9.4
numpy==2.4.6
regex==2026.5.9
scikit-learn==1.9.0
scipy==1.17.1
threadpoolctl==3.6.0
tqdm==4.67.3
Werkzeug==3.1.8
